body{
    background-color: pink;
}
#camera{
    border: 2px solid black;
    width: 350px;
    height: 350px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: black;
}